*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1c1c;
}
.container{
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    padding: 30px;
    background: #1d1c1c;
    border-radius: 20px;
    box-shadow: 2px 1px 8px rgba(255, 255, 255, .03),
                inset 1px 2px 10px rgba(255, 255, 255, .05)
}
.container input{
    margin: 6px 8px;
    width: 165px;
    height: 42px;
    line-height: 40px;
    padding-left: 12px;
    font-size: 18px;
    color: rgb(239, 79, 13);
    letter-spacing: 1px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgb(223, 79, 13);
}
.container button:hover{
    columns: #1d1c1c;
    background: rgb(223, 79, 13);
}
.container button{
    cursor: pointer;
    margin: 7px 7px;
    width: 42px;
    height: 42px;
    font-size: 18px;
    background: transparent;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgb(223, 79, 13);
    transition: all .4s;
}